.search-wrapper {
  margin-left: auto;
  font-size: 1.5rem;

  > .fa {
    color: gray;
    position: relative;
    left: 2rem;
  }

  > input {
    padding-left: 2rem;
    border: none;
    border-bottom: 1px dashed #999999;
    border-radius: 0;
    box-shadow: none;
    background-color: transparent;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: lightgray;
    }
  }
}